REPO_PROXY			https://repo.it.组织域.com
TIMEZONE			Asia/Shanghai
ORG_DOMAIN 			组织域
ORG_DOMAIN_NAME		组织域.com
ROUTER_ADDRESS		10.0.0.1
EIP_ADDRESS_RANGE	10.0.5.1-10.0.5.100
DNS01_KEY			acme dns01验证需要的域名供应商accesskey
DNS01_SECRET		域名供应商keysecret